ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

nav,
ul:before,
ul:after{
    content: "";
    display: table;
}

nav a{
    padding: 16px;
    display: block;
}

a.logo{
    display: block;
    max-width: 108px;
    float: left;
}

a.logo img{
    display: block;
}

header{
    margin: 0 auto;
    display: block;
    position: relative;
}