<div class="post wrapper">
  <ul class="post">
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
    <li>
      <img class="thumbnail" src="" alt="">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit laudantium atque, quidem commodi quia
        vero molestiae facilis sequi aspernatur veritatis quo quaerat doloremque illo aperiam quod, quis iste accusamus.</p>
      <div class="clearfix">
        <input class="fl" type="text">
        <button class="fr">Comment</button>
      </div>
    </li>
  </ul>
</div>